/* chilanka-regular - latin */
@font-face {
  font-family: 'Chilanka';
  font-style: normal;
  font-weight: 400;
  src: url('./chilanka-v5-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Chilanka Regular'), local('Chilanka-Regular'),
       url('./chilanka-v5-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./chilanka-v5-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('./chilanka-v5-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
}
